env {
     TOWER_ACCESS_TOKEN = 'd6055031d82dc8c6d54c03f3428158ca4f96d061'
}

profiles {
  local_docker {
    docker.enabled = true
    process.container = 'mfreitas/rnaseqnf:latest'
  }

 local_conda {
    process.conda = "$baseDir/environment.yml"
  } 

  awsbatch {
    docker.enabled = true
    process.container = 'mfreitas/rnaseqnf:latest'
  }

  slurm {
    singularity.enabled = true
    workDir = "/fs/scratch/PCON0101/nextflow"
    
    process { 
        executor = 'slurm'
        container = 'mfreitas/rnaseqnf:latest'
        cpus = 4
        clusterOptions = '--account=PCON0101 --nodes=1 --ntasks-per-node=1 --time=4:00:00 '
        beforeScript = 'module load python'
        }
    }
}

